.btt{
	background-color: #ffc0cb45;
	color: #0d47a1;
}
.btn-custom{
	color: white;
	background-color: red;
}
.btn-custom:hover{
	color: white;
	background-color: black;
}
.tt{
	color: white;
}